.header {
  margin-top: 45px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
}

.header::after {
  content: '';
  width: 100%;
  margin-top: 40px;
  box-sizing: border-box;
  border-bottom: 1px solid #545454;
  opacity: .7;
}

@media screen and (max-width: 768px) {
  .header {
    margin-top: 36px;
  }
}

@media screen and (max-width: 640px) {
  .header {
    margin-top: 28px;
  }
}

@media screen and (max-width: 640px) {
  .header::after {
    margin-top: 32px;
  }
}
