.header__icon-menu {
  display: none;
}

@media screen and (max-width: 640px) {
  .header__icon-menu {
    display: block;
    width: 24px;
    height: 18px;
    margin-right: 30px;
    align-self: center;
    background-image: url(../../../images/header-menu.png);
    background-color: transparent;
    box-sizing: border-box;
    border: none;
    padding: 0;
    text-decoration: none;
    background-size: contain;
  }

  .header__icon-menu:hover {
    cursor: pointer;
    opacity: .6;
  }
}
